<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="/images/<%= game.index %>/icon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <meta name="theme-color" content="#ffd901" />
    <meta name="description" content="<%= game.description %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/w3.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/dialog.css" />
    <link rel="stylesheet" href="/styles/button.css" />
    <link rel="stylesheet" href="/styles/radio.css" />
    <script src="/blockly/blockly_compressed.js"></script>
    <script src="/blockly/blocks_compressed.js"></script>
    <script src="/blockly/javascript_compressed.js"></script>
    <script src="/blockly/en.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/dialog.js"></script>
    <script src="/scripts/<%= game.index %>.js"></script>
    <title><%= game.name %> | <%= level.name %></title>
  </head>
  <body>

    <nav>
      <div class="w3-col w3-third w3-padding">
        <b>Mycrobites</b>
      </div>
      <div class="w3-col w3-center heading w3-third">
        <span><%= level.name %>: <%= game.title %></span>
      </div>
      <span class="w3-col w3-third">
        <button class="passive-button w3-padding-small w3-right" id="showlevels"><i class="fa fa-box" aria-hidden="true"></i></button>
        <% if (game.levels.indexOf(level)) { %>
          <a style="text-decoration: none;" href="level<%= game.levels.indexOf(level) %>"<button class="passive-button w3-padding-small w3-right"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Prev</button></a>
        <% } %>
      </span>
    </nav>

    <div class="w3-row w3-padding" id="body">

      <div class="w3-col w3-third">

        <div class="w3-row">
          <canvas id="canvas" width="420" height="260">Your browser does not support the HTML5 canvas tag.</canvas>
        </div>

        <div class="w3-row w3-padding">
          <button class="primary-button" id="runcode"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;Run</button>
          <button class="passive-button" id="undo"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Undo</button>
          <button class="passive-button" id="redo"><i class="fa fa-redo" aria-hidden="true"></i>&nbsp;Redo</button>
          <button class="danger-button" id="clear"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Clear</button>
          <button class="passive-button" id="showcode"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Code</button>
        </div>

        <div class="w3-row w3-padding">
          <div class="container ">
            <div class="w3-row w3-center">Need help?</div><br/>
            <a target="_blank" href="<%= game.help %>"><button class="blue-button">Watch video</button></a>
            <button class="primary-button" onclick="new Dialog().showHint(`<%= level.hint %>`,`<%= level.hintIsImage %>`==`true`)">See Hint</button>
          </div>
        </div>
      </div>

      <div class="w3-col w3-twothird">
        <div class="container w3-row">
          <img src="/images/<%= game.index %>/object.svg" width="50"/><%= level.description %> 
        </div>
        <br/><br/>
        <div class="w3-row">
          <div id="blocklyDiv"></div>
        </div>
      </div>

      <div id="dialog">
      </div>
      
    </div>
    <!-- Required blockly blocks -->
    <xml
      xmlns="https://developers.google.com/blockly/xml"
      id="toolbox"
      hidden>
      <block type="down_move"></block>
      <block type="forward_move"></block>
      <% if (game.levels.indexOf(level)>7) { %>
        <block type="up_move"></block>
        <block type="backward_move"></block>
      <% } %>
    </xml>

    <div class="w3-row w3-center w3-red w3-padding" hidden  id="levelsrow">
      <% game.levels.forEach((level,l) => { %>
        <div class="w3-col w3-center w3-quarter">
          <%= level.name %> 
        </div>
      <% }) %>
    </div>

    <!-- Image assets to be used in canvas -->
    <span hidden>
      <img src="/images/<%= game.index %>/object.svg" id="theobject"/>
      <img src="/images/<%= game.index %>/objectwon.svg" id="wonobject"/>
      <img src="/images/<%= game.index %>/objectlost.svg" id="lostobject"/>
      <img src="/images/<%= game.index %>/<%= game.levels.indexOf(level) %>pathlayer.svg" id="pathlayer"/>
      <img src="/images/<%= game.index %>/background.svg" id="thebackground"/>
      <span id="gamename"><%= game.name %></span>
      <span id="gamedescription"><%= game.description %></span>
      <span id="gameindex"><%= game.index %></span>
      <span id="levelindex"><%= level.index %></span>
      <span id="totallevels"><%= game.levels.length %></span>
      <span id="thislevel"><%= game.levels.indexOf(level) %></span>
    </span>
  </body>
</html>
