.primary-button{
    outline:none;

    background-color: var(--secondary);
    color:var(--primary);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:8px 12px 8px 12px;
    transition: var(--trans-delay);
    cursor: pointer;
}
.primary-button:hover{
    box-shadow: 1px 5px 18px #00000044;
    padding:8px 16px 8px 16px;
}
.primary-button:active{
    outline:none;
    opacity:0.5;
    box-shadow: 1px 5px 10px #00000011;
}

.passive-button{
    outline:none;
    background-color: var(--passive);
    color:var(--secondary-text);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:8px 12px 8px 12px;
    transition: var(--trans-delay);
    cursor: pointer;
}
.passive-button:hover{
    box-shadow: 1px 5px 18px #00000044;
    padding:8px 16px 8px 16px;
}
.passive-button:active{
    outline:none;
    opacity:0.5;
    box-shadow: 1px 5px 10px #00000011;
}

.blue-button{
    outline:none;
    background-color: var(--blue);
    color:var(--secondary-text);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:8px 12px 8px 12px;
    transition: var(--trans-delay);
    cursor: pointer;
}
.blue-button:hover{
    box-shadow: 1px 5px 18px #00000044;
    padding:8px 16px 8px 16px;
}
.blue-button:active{
    outline:none;
    opacity:0.5;
    box-shadow: 1px 5px 10px #00000011;
}

.danger-button{
    outline:none;
    background-color: var(--danger);
    color:var(--secondary-text);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:8px 12px 8px 12px;
    transition: var(--trans-delay);
    cursor: pointer;
}
.danger-button:hover{
    box-shadow: 1px 5px 18px #00000044;
    padding:8px 16px 8px 16px;
}
.danger-button:active{
    outline:none;
    opacity:0.5;
    box-shadow: 1px 5px 10px #00000011;
}

.nav-button-fill{
    outline:none;
    background-color: white;
    color:var(--primary-text);
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 8px 4px 8px;
    transition: var(--trans-delay);
    cursor: pointer;
}
.nav-button-fill:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.nav-button-fill:active{
    outline:none;
    opacity:0.5;
    box-shadow: 1px 5px 10px #00000011;
}

.nav-button-stroke{
    outline:none;
    background-color: transparent;
    color:var(--primary-text);
    border: 0px solid var(--primary-text);
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 8px 4px 8px;
    transition: var(--trans-delay);
    cursor: pointer;
}
.nav-button-stroke:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.nav-button-stroke:active{
    outline:none;
    opacity:0.5;
    box-shadow: 1px 5px 10px #00000011;
}