/* The dialog (background) */
#dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    text-align: center;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.3s;
    animation-name: fadeIn;
    animation-duration: 0.3s
}
  
  /* dialog Content */
  .dialog-content {
    position: fixed;
    bottom: 0;
    background-color: rgb(233, 217, 217);
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.3s;
    animation-name: slideIn;
    animation-duration: 0.3s
  }
  
  
  .dialog-header-yellow {
    background-color: var(--accent);
    color: var(--primary-text);
  }

  .dialog-header-red{
    background-color: var(--danger);
    color: var(--secondary-text);
  }

  .dialog-header-blue{
    background-color: var(--blue);
    color: var(--secondary-text);
  }

  .dialog-header-green{
    background-color: var(--secondary);
    color: var(--secondary-text);
  }
  
  .dialog-header-red,
  .dialog-header-blue,
  .dialog-header-yellow,
  .dialog-header-green{
    padding: 22px 16px;
    font-size:44px;
    font-family:'Questrial',sans-serif;
  }
  
  .dialog-body {padding: 42px 16px;font-size:24px}
  
  .dialog-footer {
    padding: 22px 16px;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  