/*
* The main stylesheet to be included in every view.
* Documentation: https://github.com/ranjanistic/schemester-web/blob/master/DOCUMENTATION.md#maincsspubliccssmaincss
*/

:root {
  --primary:#f0f0f0;
  --secondary:#338129;
  --accent:#ffd901;
  --passive:#494949;
  --danger:#e21515;
  --blue:#1d3ae2;
  --primary-text:#0c0c0c;
  --secondary-text:#dedede;
  --accent-text:#1f1d1d;
  --font-size:18px;
  --trans-delay:0.3s ease;
}

/* [data-theme="dark"] {} */

body {
  background-color: var(--primary);
  color:var(--primary-text);
  font-family:'Questrial', sans-serif;
  font-size:18px;
  margin:0;
}

canvas {
  background-color: var(--primary);
  box-shadow: 4px 2px 24px #0503037e;
  border-radius:12px;
}

#blocklyDiv {
  height: 350px;
  box-shadow: 4px 2px 24px #22171786;
  color:black;
  font-family: 'Questrial';
}

nav{
  font-family:'Questrial',sans-serif;
  color:var(--accent-text);
  z-index:71;
  background-color: var(--accent);
  font-size: 18px;
  padding: 8px;
  position:fixed;width:100%;
  top:0;
  box-shadow:0 4px 10px 0 #00000033,0 4px 20px 0 #00000030;
  border-radius:0 0 4px 4px
}

.heading{
  font-size:26px;
  font-weight: bold;
  font-family:'Questrial'

}

#body{
  margin-top:76px
}
.container{
  background-color: white;
  border-radius: 12px;
  margin:4px;
  font-size:20px;
  padding:22px;
  box-shadow: 1px 5px 10px #00000011;
  transition: var(--trans-delay);
}